/* .custom-class {
  border: solid 4px blue;
  position: absolute;
  right: 0;
  height: 100vh;
}
.modal-dialog {
  position: absolute;
  right: 0;
  top: 0;
}

.modal {
  margin: 0;
}

.modal-backdrop {
  opacity: 0;
}

.form {
  height: 98vh;
} */

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/

/* .my-modal {
  position: fixed !important;
  padding-top: 50px;
  right: 0;
  top: 0;

  .modal-footer {
    background-color: aqua !important;
  }
} */
/* 

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
} */

/* ----- MODAL STYLE ----- */
/* .modal-content {
  border-radius: 0;
  border: none;
} */
