<div class="main-wrapper">
  <div class="wrapper">

    <form [formGroup]="formParent" class="form-parent" >
      <ng-container *ngFor="let item of fieldConfigs">

        <div class="form-field" *ngIf="item.type=='String'">
          <label>{{item.label}}</label>
          <input [name]="item.name" [type]="item.type" [placeholder]="item.placeholder" [formControlName]="item.name">
        </div>

        <div class="form-field" *ngIf="item.type=='Select'">
          <label>{{item.label}}</label>
          <select [formControlName]="item.name" placeholder="Select an Item" (change)="onDataTypeChange($event)">
            <ng-container *ngFor="let option of item.options">
              <option [value]="option">{{option}}</option>
            </ng-container>
          </select>
        </div>

        <div class="form-field" *ngIf="item.type=='Boolean'">
          <label>{{item.label}}-boolean</label>
          <input [name]="item.name" [id]="selectedType" [type]="item.type" [placeholder]="item.placeholder" [formControlName]="item.name">
        </div>

        <div class="form-field" *ngIf="item.type=='Integer'">
          <label>{{item.label}}</label>
          <input [name]="item.name" [id]="selectedType" [type]="item.type" [placeholder]="item.placeholder" [formControlName]="item.name">
        </div>

        <div class="form-field" *ngIf="item.type=='Decimal'">
          <label>{{item.label}}</label>
          <input [name]="item.name" [id]="selectedType" [type]="item.type" [placeholder]="item.placeholder" [formControlName]="item.name">
        </div>

        <div class="form-field" *ngIf="item.type=='Date'">
          <label>{{item.label}}</label>
          <input [name]="item.name" [id]="selectedType" [type]="item.type" [placeholder]="item.placeholder" [formControlName]="item.name">
        </div>

        <div class="form-field" *ngIf="item.type=='Json'">
          <label>{{item.label}}</label>
          <textarea [name]="item.name" [id]="selectedType" [placeholder]="item.placeholder" [formControlName]="item.name" cols="30" rows="8"></textarea>
        </div>

        <div class="form-field" *ngIf="item.type=='StringEnum'">
          <label>{{item.label}}</label>
          <textarea [name]="item.name" [id]="selectedType" [placeholder]="item.placeholder" [formControlName]="item.name" cols="30" rows="8"></textarea>
        </div>

      </ng-container>
    </form>

  </div>
  <div class="wrapper">
    <div><b>The form is valid?: </b>
      <span *ngIf="formParent.valid">✔</span>
      <span *ngIf="!formParent.valid">🔴</span>
    </div>
    <pre>{{formParent.value | json}}</pre>
  </div>
</div>