<div class="main-wrapper">
  <div class="wrapper">

    <form [formGroup]="formParent" class="form-parent">
      <ng-container *ngFor="let item of fieldConfigs">
        <div class="form-field" *ngIf="item.type=='text'">
          <label>{{item.label}}</label>
          <input [type]="item.type" [placeholder]="item.placeholder" [formControlName]="item.name">
        </div>
        <div class="form-field" *ngIf="item.type=='select'">
          <label>{{item.label}}</label>
          <select [formControlName]="item.name" (change)="onDataTypeChange($event)">
            <ng-container *ngFor="let option of item.options">
              <option [value]="option">{{option}}</option>
            </ng-container>
          </select>
          <div class="form-grid" formArrayName="child">

            <div class="form-field" *ngFor="let child of getCtrl('child',formParent).controls;index as formChild">
              <div class="form-block" [formGroupName]="formChild" *ngIf="selectedType==sett.string.name">
                <div class="form-field">
                  <input type="text" formControlName="String" [pattern]="sett.string.validationPattern">
                </div>
                <label> 
                  Pattern: {{sett.string.validationPattern}}
               </label> 
              </div>

            </div>

          </div>
        </div>
      </ng-container>
    </form>

  </div>
  <div class="wrapper">
    <div><b>The form is valid?: </b>
      <span *ngIf="formParent.valid">✔</span>
      <span *ngIf="!formParent.valid">🔴</span>
    </div>
    <pre>{{formParent.value | json}}</pre>
  </div>
</div>